# adium-theme-ubuntu==0.3.4
awscli==1.11.44
# botocore==1.5.7
# chardet==2.3.0
# colorama==0.3.7
# cycler==0.9.0
# docutils==0.13.1
# futures==3.0.5
# GDAL==1.11.3
# httplib2==0.9.1
# Jinja2==2.8
# jmespath==0.9.1
# MarkupSafe==0.23
# matplotlib==1.5.1
# numpy==1.11.0
# Pillow==3.1.2
psycopg2==2.6.1
# pyasn1==0.2.2
# Pygments==2.1
# pyparsing==2.0.3
# pyspatialite==3.0.1
# python-dateutil==2.6.0
# pytz==2014.10
# PyYAML==3.12
# rsa==3.4.2
# s3transfer==0.1.10
# six==1.10.0
# unity-lens-photos==1.0
